altair
asttokens
attrs
backcall
blinker
cachetools
certifi
chardet
charset-normalizer
click
colorama
comm
debugpy
decorator
easyocr
exceptiongroup
executing
filelock
gitdb
GitPython
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
imageio
importlib-metadata
jedi
Jinja2
jsonschema
jsonschema-specifications
langid
lazy_loader
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mpmath
nest-asyncio
networkx
ninja
numpy
opencv-python
opencv-python-headless
packaging
pandas
parso
pdf2image
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyclipper
pydeck
Pygments
Pympler
PyMuPDF
PyMuPDFb
python-bidi
python-dateutil
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
pyzmq
referencing
requests
rfc3986
rich
rpds-py
scikit-image
scipy
shapely
six
smmap
sniffio
stack-data
streamlit
streamlit-space
streamlit-toggle
sympy
tenacity
tifffile
toml
toolz
torch
torchvision
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
zipp